body{
    display: flex;
    flex-wrap: initial;
    margin: 0px;
    background-color: white;
    border :10px solid #000000; 
    justify-content: space-between;
}

h1{
    color: black;
    margin: 25px;
    padding: 20px;
    border:2px solid #000000;
    font-family: sans-serif;
    border-radius: 50px;
    justify-content: space-between;
}
p{
    margin: 20px;
    padding: 5ps;
    border:10px solid #000000;
    font-size: 30px;
    font-style: italic;
    border-radius: 20px;
    justify-content: space-between;
}

li{
    border:10px solid #000000;
    font-family: cursive;
    justify-content: space-between;
}

